@import '../../../style/variables.scss';

.windTile_component{
  h1{
    align-self: start;
    justify-self: start;
  }

  .content{
    .arrowContainer{
      padding: 5px;
      
      svg{
        height: 30px;
        width: 30px;
      }
    }
  }
}