@import '../../../style/variables.scss';

.spinner_component{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-top: 30vh;

  svg{
    height: 120px;
    animation: 10s rotate infinite linear;
    color: $yellow-dark;
  }
}

// spin animation
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}